<template>
  <div>
    <div class="mobile-view">
      <AboutMobile />
    </div>
    <div class="desktop-view">
      <About />
    </div>
  </div>
</template>

<script>
import About from './components/About'
import AboutMobile from './components/About-mobile'
export default {
  components: {
    About,
    AboutMobile
  }
}
</script>

<style scoped>
  @media screen and (min-width: 1026px) {
    .mobile-view {
      display: none;
    }
  }
  @media screen and (max-width: 1025px) {
    .desktop-view {
      display: none !important;
    }
  }
</style>
