.v-container {
  width: 400%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  }
  
  .panel {
  width:  100vw;
  height: 100vh;
  display: flex;
  font-weight: 600;
  font-size: 1.5em;
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  }

  .panel.align-top {
  align-items: flex-start;
  }

  .projects {
    padding:5vw 0 0 0;
    position: relative;
    /* margin-left: -10vw; */
  }


  .slide {
    overflow: hidden;
    height: 5vw;
    bottom: 10vh;
    left: -4vw;
    position: absolute;
  }

  .slide2 {
    overflow: hidden;
    height: 6vw;
  }

  .first-project {
    padding:5vw 0 0 12vw;
    margin-left: 0;
  }

  .projects .project-image {
    z-index: 3;
    position: relative;
  }

  .projects .project-image img{
    height: 75vh;
    width: 36vw;
    object-fit: cover;
    margin-left: 8vw;
  }

  .projects .project-name {
    bottom: 10vh;
    left: -4vw;
    color: #fff;
    font-size: 5vw;
    position: absolute;
    font-family: "Libre Baskerville", serif;
  }

  .projects  .slide  h1 {
    position: relative ;
    color: #fff;
    font-size: 5vw;
    font-family: "Libre Baskerville", serif;
  }

  .projects .captions {
    color: #fff;
    padding-left: 3vw;
    position: relative;
    z-index: 1;
  }

  .projects .captions h1 {
    color: #fff;
    font-size: 3.4vw;
    margin: 0;
    margin-top: 3vh;
    font-weight: 800;
    padding-bottom: 1vw;
    font-family: 'Poppins', sans-serif;
  }

  .projects .captions p {
    color: #fff;
    font-size: 1vw;
    margin-bottom: 1.1vw;
  }
  .projects .captions a {
    margin-top: 1vw;
    font-weight: bold;
    font-size: 1.1vw;
    color: #fff;
    text-decoration: nonw;
  }

  .projects .captions a img {
    width: 1.5vw;
  }

  .footer {
    position: fixed;
    width: 100vw;
    height: 60vh;
    bottom: 0;
    background: #054984;
    z-index: 0 !important;
    }

    .footer h1{
        font-size: 4.5vw;
        /* margin-top: 40vh; */
        color: #fff;
        font-family: 'Libre Baskerville', serif;
    }

    .footer a {
        color: #000;
        text-decoration: none;
    }

    .footer hr {
        margin: 0 !important;
    }

    .next-page {
        height: 80%;
    }

    .footer  .social {
        height: 20%;
    }

    .footer-logo {
        width: 10vw;
    }

    .footer  .social .icons img {
        width: 4vw;
    }
