
.projects-page .dark {
    padding: 15vw 0;
}

.projects-page .projects {
    padding: 12vw 0 0;
}

.projects-page .projects .image {
    width: 100vw;
    height: 55vh;
    object-fit: cover;
    padding: 10vw 10vw 0;
}

.projects-page .projects h2 {
    color: #fff;
    font-size: 15vw;
    padding-left: 4vw;
    margin-top: -10vw;
}

.projects-page .projects .captions {
    color: #fff;
    padding-left: 20vw;
}

.projects-page .projects .captions{
    font-family: 'Poppins', sans-serif;
}

.projects-page .projects .captions h1 {
    font-size: 10vw;
    margin: 0;
    margin-top: 3vh;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.projects-page .projects .captions p a{
    text-decoration: underline;
}


.footer {
    background: #054984;
}

.footer .next-page {
    height: 60vw;
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: none;
  }

.footer .next-page h2 {
    font-size: 12vw;
}

.footer .social-icons {
    width: 75vw;
    margin: 0 auto;
}

.footer .social-icons img {
    width: 14vw;
}

.footer .footer-logo {
    height: 30vw;
}

.footer .footer-logo img {
    width: 25vw;
}