<template>
  <div class="about-page">
    <div class="about-intro">
      <div class="intro-text">
        <h5>DataFirst Technologies</h5>
        <h2>Hi There!</h2>
      </div>
    </div>

    <div class="dark">
      <div class="about-us">
        <p>
          We are a full-cycle technology company, helping some of the
                fastest-growing enterprises and start-ups to build technological
                solutions that create value and deliver results.
                <br><br> With our unique
                engineering process and expertise in product thinking, we have
                successfully delivered innovative software solutions and
                engineering excellence in real estate, payments, investments,
                data gathering & analytics and business process management among
                others.
                <br> <br>Our ultimate target is to build a formidable engineering
                team to solve today’s problems and innovate for tomorrow.
                <br><br>
                DataFirst technologies Ltd is on a mission to empower
                individuals and grow businesses by developing quality
                technological solutions
        </p>
        <img src="https://images.nappy.co/uploads/large/28031608804060ltjqqj8yjsbcxzztzon9ai4ua1xdtbeml4jdog7y2hajsg4vve8ynftgosctszcy7rpb1vrqk8q3aledymesg5uf1cjrbvcrnr1r.jpg?auto=format&fm=jpg&w=1280&q=75" alt="">
      </div>
    </div>
    <div class="action-text">
      <h2> Engineering </h2>
      <p>You can leverage on our team of experts, proven process and customised technology solutions for your business to become digitally superior. We have been helping different enterprises in their digital transformation journey through seamless API integration, modernizing legacy systems, automating complex business processes, and more.</p>
      <b-button variant='transparent' class="p-0" to="/contact">Let's talk <img src="@/assets/img/right-arrow.svg" class="ml-3" alt=""></b-button>
    </div>

        <div class="footer">
            <div class="next-page d-flex align-items-center justify-content-center">
                <router-link to="/case-studies">
                    <h2>Case Studies</h2>
                </router-link>
            </div>

      <social-icons light mobile/>

      <div class="footer-logo d-flex align-items-center justify-content-center">
        <router-link to="/">
          <img src="@/assets/img/datafirst-logo.svg" alt="footer-logo">
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    'social-icons': () => (import('@/components/SocialIcons'))
  },
}
</script>

<style scoped>
@import '../assets/css/mobile.css'
</style>
