<template>
  <div>
    <div class="v-container">
      <div class="description panel dark">
        <div class="d-flex">
          <div class="logo-brand d-block">
            <div class="company-label">
              <div class="slide2">
                <h5 class="text-light">Datafirst Technologies</h5>
              </div>
            </div>

            <div class="welcome">
              <div class="slide">
                <h2>
                  Hi <br />
                  There!
                </h2>
              </div>
            </div>
          </div>
          <div class="homepage-banner">
            <div
              class="descriptions w-100 text-light d-flex align-items-center"
            >
              <span class="ml-auto d-block">About Us</span>
            </div>
            <div class="banner-captions text-light">
              <p>
                 We are a full-cycle technology company, helping some of the
                fastest-growing enterprises and start-ups to build technological
                solutions that create value and deliver results.
                <br><br> With our unique
                engineering process and expertise in product thinking, we have
                successfully delivered innovative software solutions and
                engineering excellence in real estate, payments, investments,
                data gathering & analytics and business process management among
                others.
                <br> <br>Our ultimate target is to build a formidable engineering
                team to solve today’s problems and innovate for tomorrow.
                <br><br>
                DataFirst technologies Ltd is on a mission to empower
                individuals and grow businesses by developing quality
                technological solutions
              </p>
            </div>
          </div>
        </div>
      </div>
      <section class="panel lignt d-flex align-items-end last-panel">
        <div class="team">
          <h2 class="mb-5">Engineering</h2>
          <div class="banner-img mb-5">
            <img src="https://images.nappy.co/uploads/large/28031608804060ltjqqj8yjsbcxzztzon9ai4ua1xdtbeml4jdog7y2hajsg4vve8ynftgosctszcy7rpb1vrqk8q3aledymesg5uf1cjrbvcrnr1r.jpg?auto=format&fm=jpg&w=1280&q=75" alt="" />
          </div>
        </div>
        <div class="">
          <div class="about action-text text-dark">
            <p class="handle-fit">
              You can leverage on our team of experts, proven process and customised technology solutions for your business to become digitally superior. We have been helping different enterprises in their digital transformation journey through seamless API integration, modernizing legacy systems, automating complex business processes, and more.
            </p>
            <b-button variant="transparent" cursor-class="menu-hover" class="p-0" to="/contact"
              >Let's talk
              <img src="@/assets/img/right-arrow.svg" class="ml-3" alt=""
            /></b-button>
          </div>
        </div>
      </section>
      <!-- <section class="panel green">
        FOUR
      </section> -->
      <div class="footer" id="footer">
        <div class="d-flex justify-content-center align-items-center next-page">
          <router-link to="/case-studies">
            <h1 cursor-class='menu-hover'>Case Studies</h1>
          </router-link>
        </div>
        <hr />
        <div
          class="d-flex align-items-center justify-content-between social px-5"
        >
          <router-link to="/">
            <img
              src="@/assets/img/datafirst-logo.svg"
              class="footer-logo"
              alt=""
            />
          </router-link>

          <social-icons light />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { AboutPageFunction } from "@/mixins/ScrollAnimation/aboutUs";
import { CursorHoverFunction } from "@/mixins/interactions/cursorHoverEffects";
import pageData from "../../landingPage/assets/page-content.json";

export default {
  mixins: [AboutPageFunction, CursorHoverFunction],
  components: {
    "social-icons": () => import("@/components/SocialIcons"),
  },
  data() {
    return {
      pageData,
    };
  },
};
</script>
<style scoped>
@import "../assets/css/desktop.css";
.handle-fit {
  padding-right: 8%;
}
</style>
