<template>
  <div class="blog-page">
    <div class="d-flex align-items-center">
      <div class="blog-posts">
        <b-row v-if="posts.length == 0">
          <b-col cols="12" class="mb-4 pr-3">
            <b-skeleton-img animation="fade" height="200px"></b-skeleton-img>      
          </b-col>
            <b-col cols="12" class="mb-4">
              <b-skeleton-img animation="fade" height="200px"></b-skeleton-img>      
          </b-col>
            <b-col cols="12" class="mb-4 pr-3">
              <b-skeleton-img animation="fade" height="200px"></b-skeleton-img>      
          </b-col>
        </b-row>
        <div v-else>
          <h2 class="blog-title mb-5">Blog</h2>
          <div class="">
            <router-link
              :to="{path:`/blog/${item.id}/${index + 1}`, params: {idx: index}}"
              v-for='(item, index) in posts' 
                :key="index"
              class="blog-cards"
            >
              <div>
                <img :src="item.image" alt="" />
                <div class="write-up text-light mt-3">
                  <h5> {{'0'+ (index + 1)}}</h5>
                  <h5>{{item.title}} </h5>
                  <p>
                    {{formatDesptions(item.content)}}
                  </p>
                </div>
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer" v-if="posts.length > 0">
      <social-icons light mobile />
    </div>
  </div>
</template>

<script>
import Axios from 'axios'
export default {
  data() {
    return {
      posts: []
    }
  },

  async mounted() {
    let {data} = await Axios.get('https://blog-api.datafirst.com.ng/blog/37950b86-4846-4ed1-9e04-231b8285a198/posts',{Headers:{ "Content-Type": "application/json"}}
    );

    this.posts = data.data.blog.posts
    console.log(data.data.blog.posts);
  },

  methods:{
    formatDesptions(data){
      // alert('hello')
      if(data.length < 120){
        return data
      }
      let post = data.slice(0, 140) + '...'
      return post
    }
  },
  components: {
    "social-icons": () => import("@/components/SocialIcons"),
  },
};
</script>

<style scoped>
@import "../assets/css/mobile.css";
</style>
