<template>
  <div v-if="posts">
    <div class="v-container" >
      <div class="panel dark">
        <div class="blog-watermark">
          <img src="@/assets/img/blog-watermark.svg" alt="" />
        </div>
          
        <div class="d-flex blog-container">
          
        <div class="blog-posts">
          <b-row v-if="posts.length == 0">
            <b-col cols="4" class="mb-4 pr-3">
              <b-skeleton-img animation="fade" height="15vw"></b-skeleton-img>      
            </b-col>
              <b-col cols="4" class="mb-4">
                <b-skeleton-img animation="fade" height="15vw"></b-skeleton-img>      
            </b-col>
              <b-col cols="4" class="mb-4 pr-3">
                <b-skeleton-img animation="fade" height="15vw"></b-skeleton-img>      
            </b-col>
          </b-row>

          <div v-else>
            <div class="slide">
              <h2 class="blog-title mb-5">Blog</h2>
            </div>
            <div class="row" >
              <div
                v-for='(item, index) in posts' 
                :key="index"
                class="col-lg-4"
              >
                <router-link
                  :to="{path:`/blog/${item.id}/${index+1}`, props: {idx: index}}"
                >
                  <div class="blog-cards" >
                    <img
                      :src="item.image"
                      alt=""
                      cursor-class="menu-hover"
                    />
                    <div class="write-up text-light mt-3">
                      <h5 cursor-class="menu-hover"> {{'0'+ (index + 1)}}</h5>
                      <h5>{{item.title}} </h5>
                      <p>
                        {{formatDesptions(item.content)}}
                      </p>
                    </div>
                  </div>
                </router-link>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from 'axios'
import { myHelperFunction } from '@/mixins/ScrollAnimation/blog'
export default {
  mixins: [myHelperFunction],
  data() {
    return {
      posts: []
    }
  },

  async mounted() {
    let {data} = await Axios.get('https://blog-api.datafirst.com.ng/blog/37950b86-4846-4ed1-9e04-231b8285a198/posts',{Headers:{ "Content-Type": "application/json"}}
    );

    this.posts = data.data.blog.posts
  },

  methods:{
    formatDesptions(data){
      if(data.length < 120){
        return data
      }
      let post = data.slice(0, 140) + '...'
      return post
    }
  }
};
</script>

<style scoped>
@import "../assets/css/desktop.css";
</style>
