@media screen and (min-width: 1025px) {
  .v-container {
    width: 400%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    }

    .panel {
    width: 100%;
    height: 100vh;
    display: flex;
    font-weight: 600;
    font-size: 1.5em;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
    }
    .panel.align-top {
    align-items: flex-start;
    }

    .panel.description {
    width: 85% !important;
    padding-bottom: 60px;

    }
    .logo-brand {
        background-color: #000;
        width: 20vw;
        padding: 0 3vw;
        height: 100vh;
    }

    .logo-brand img{
        width: 11vw;
        margin-top: 5vh;
    }

    .logo-brand h5 {
        transform:  rotate(270deg);
        position: absolute;
        bottom: 20vh;
        font-size: 1vw;
        left: -2vw;
        font-weight: bold;
    }

    .homepage-banner {
        height: 100vh;
        padding: 30px 0 0 100px;
    }

    .homepage-banner .descriptions {
        height: 9vh;
    }

    #menuToggle {
        position: fixed;
        right: 30px;
        top: 55px;
        z-index: 3000 !important;
    }

    #menuToggle span
    {
    display: block;
    width: 50px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #8d8d8d;
    border-radius: 3px;
    z-index: 1;
    filter: invert(100%);
    mix-blend-mode: difference;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }

    .homepage-banner .descriptions span {
        color: #000;
        margin-right: 1vw;
        font-weight: 500;
        font-size: 1vw;
    }

    .banner-captions {
        position: absolute;
        bottom: 10vh;
    }
    .banner-captions h2 {
        font-size: 5vw;
        width: 50vw;
        letter-spacing: 1px;
        line-height: 1;
        display: inline-block;
        font-family: 'Libre Baskerville', serif;
    }
    .banner-captions p {
        width:42vw;
        display: block;
        font-size: 1.2vw;
        font-weight: 500;
        /* text-align: justify; */
        font-family: 'Poppins', sans-serif;
    }
    /* second section */

    .banner-img {
        background: #000;
    }
    .banner-img img {
        height: 90vh ;
        width: 60vw;
        object-fit: cover;
    }

    .title h2 {
        font-size: 8vw;
        position: absolute;
        left: 40vw;
        color:  #fff;
        font-weight: bolder;
        font-family: 'Poppins', sans-serif;
    }

    .title span {
        color: transparent;
        background-size: cover;
        background-image: url('../../../../assets/img/banner-img.jpeg');
        background-clip: text;
        -webkit-background-clip: text;
    }

    /* .action-text {
        width: 54%;
        font-size: 1.1vw;
    } */

    .action-text button, .section-three .caption button {
        font-weight: bolder;
        font-size: 1vw;
    }

    .company .banner-captions p {
        width: 35vw;
    }

    .company .banner-captions button img, .section-three .caption button img{
        width: 1.6vw;
        margin-left: 1vw;
    }

    /* Dection Three */
    .section-three .caption {
        margin-left: 100px;
    }
    .section-three p{
        color: #fff;
        width: 55%;
        font-size: 2vw;
        line-height: 1.5;
        word-wrap: break-word;
    }

    .grid {
        height: 100vh;
        /* position: relative; */
        /* right: 150px; */
        /* top: 10vh;  */
        /* top: 12%; */
        /* margin-top: 18vh; */
    }

    .grid .grid-img-holder{
        position: absolute;
        right: -8vw;
        top: 10vh;
        /* top: 12%; */
    }

    .grid .grid-img-holder div:first-child{
        margin-left: 4vw;
    }

    .grid .grid-img-holder .spaced {
        margin-right: 5vh;
    }

    .section-three .grid-img {
        margin-bottom: 5vh;
    }

    .section-three .grid img {
        width: 17vw;
        height: 22vw;
        object-fit: cover;
    }

    /* .btn-icon {
        width: 20px !important;
    } */

    /* Forth Section */

    .testimonial {
        width: 100%;
    }

    .testimonial  .comments {
        width: 70%;
        margin: 0 auto;
    }

    .testimonial  .comments img {
        width: 12vw;
    }

    .testimonial h5 {
        font-weight: 600;
        font-size: 1.1vw;
        font-family: 'Poppins', sans-serif;
    }
    .testimonial p {
        font-weight: 300;
        font-size: 1.1vw;
         font-family: 'Poppins';
    }

    .testimony {
        width: 55%;
    }

    .last-panel {
        position: relative;
        z-index: 1;
    }

    .footer {
    position: fixed;
    width: 100vw;
    height: 60vh;
    bottom: 0;
    background: #D3A600;
    z-index: 0 !important;
    }

    .footer h1{
        font-size: 4.5vw;
        /* margin-top: 40vh; */
        font-family: 'Libre Baskerville', serif;
    }

    .footer a {
        color: #000;
        text-decoration: none;
    }

    .footer hr {
        margin: 0 !important;
    }

    .next-page {
        height: 80%;
    }

    .footer  .social {
        height: 20%;
    }

    .footer-logo {
        width: 10vw;
    }

    .footer  .social .icons img {
        width: 4vw;
    }
}
