@media screen and (max-width: 1025px) {

    .header-bg {
        height: 24vw;
        background-color: #000;
        width: 100vw;
        position: fixed;
        z-index: 1000;
    }
    .descriptions {
        padding: 35vw 10px 0 0 ;
    }

    .descriptions span {
        font-size: 3.5vw;
        font-weight: 800;
    }

    .hero-section .hero-caption {
        height: 60vh;
        width: 100vw;
        padding:  0 5vw 5vw 3vw;
    }

    .hero-section .hero-caption h2 {
        font-size: 10vw;
    }

    .hero-section .hero-caption p {
        font-size: 4vw;
    }

    .hero-section .hero-img {
        position: relative;
        width: 100vw;
        height: 100vw;
    }

    .hero-section .hero-img img{
        width: 100vw;
        height: 100vw;
        object-fit: cover;
    }

    .hero-section .hero-img .title {
        position: absolute;
        left: 15%;
        color: #fff;
    }

    .hero-section .hero-img .title h2 {
        font-weight: bolder;
        font-size: 15vw;
        font-family: 'Poppins', sans-serif;
    }

    .call-to-action {
        height: 65vw;
        padding: 0 3vw;
    }

    .call-to-action p {
        font-size: 4.4vw;
        font-weight: 700;
    }

    .call-to-action button {
        font-size: 4.4vw;
        font-weight: bold;
    }

    .call-to-action button img{
        width: 6vw;
        margin-left: 3vw;
    }

    .team .caption{
        padding: 15vh 5vw;
    }

    .team .team-caption {
        color: #fff;
        font-size: 5.5vw;
        font-weight: 900;
    }

    .team  button {
        font-size: 4.9vw;
        font-weight: 900;
        margin-top: 50px;
    }

    .team  button img {
        width: 6vw;
        margin-left: 3vw;
    }

    .team .team-pictures {
        padding-bottom: 10vw;
    }

    .team .team-pictures img {
        width: 100vw;
        height: 100vw;
        object-fit: cover;
        padding: 10vw 5vw;
    }

    .testimonials {
        padding: 15vw 0;
        color: #fff;
    }

    .testimonials .testimonies {
        padding: 8vw 5vw 0;
    }

    .testimonials .testimonies img {
        width: 30vw;
        height: 31vw;
        object-fit: cover;
        margin-right: 30px;
        border-radius: 5px;
    }

    .testimonials .testifier h5{
        font-size: 5vw;
    }

    .testimonials .testifier p {
        font-size: 4vw;
    }

    .testimonials .testimony {
        font-size: 4vw;
        line-height: 1.6;
        font-weight: 400;
        padding: 8vw 0;
    }

    .testimonials hr{
        background-color: rgba(255, 255, 255, 0.356);
        margin: 0;
    }

    .footer {
        background: #D3A600;
    }

    .footer .next-page {
        height: 60vw;

    }

    .footer a {
        color: #000;
        text-decoration: none;
    }

    .footer .next-page h2 {
        font-size: 12vw;
    }

    .footer .social-icons {
        width: 75vw;
        margin: 0 auto;
    }

    .footer .social-icons img {
        width: 14vw;
    }

    .footer .footer-logo {
        height: 30vw;
    }

    .footer .footer-logo img {
        width: 25vw;
    }
  }