@media screen and (min-width: 1025px) {
    .v-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: nowrap;
    }

    .panel {
      width: 100%;
      height: 100vh;
      display: flex;
      font-weight: 600;
      font-size: 1.5em;
      z-index: 2;
      position: relative;
      box-sizing: border-box;
    }
    .panel.align-top {
      align-items: flex-start;
    }

    .panel.description {
      /* width: 85% !important; */
      padding-bottom: 60px;
    }

    .slide {
      height: 10vw;
      overflow-y: hidden;
    }

    .logo-brand {
      background-color: #054984;
      padding: 0 20px 0 50px;
      width: 70vw;
      height: 100vh;
      position: relative;
    }

    .logo-brand img {
      width: 145px;
      margin-top: 55px;
      position: absolute;
    }

    .contact-caption{
      width: 17vw;
      margin-top: 250px;
      margin-right: 50px;
    }

    .contact-info {
      width: 15vw;
    }

    .contact-info p {
      font-size: 1.3vw;
      font-weight: bold;
    }

    .contact-info small {
      font-size: 1vw;
    }

    .contact-caption h2 {
      font-size: 3.8vw;
      letter-spacing: 1px;
      line-height: 1.3;
    }

    .contact-caption p {
      font-size: 1.3vw;
    }

    .logo-brand h5 {
      transform: rotate(270deg);
      position: absolute;
      bottom: 200px;
      font-size: 14px;
      left: -20px;
      font-weight: bold;
    }

    .working-hours {
      height: 100vh;
    }

    .working-hours small {
      font-size: 1.1vw;
    }
    .working-hours ul {
      padding: 0;
      padding-top: 1vw;
    }
    .working-hours ul li {
      list-style: none;
      font-weight: bold;
      padding-bottom: 0.4vw;
      font-size: 1.3vw;
    }

    #menuToggle {
      position: fixed;
      right: 30px;
      top: 55px;
      z-index: 300000 !important;
    }

    .homepage-banner .descriptions span {
      margin-right: 15px;
      font-weight: 500;
      font-size: 19px;
    }

    .banner-captions {
      position: absolute;
      top: 34%;
    }
    .banner-captions p {
      width: 72%;
      font-size: 1.1vw;
      font-weight: 300;
      line-height: 1.7;
      letter-spacing: 1px;
      font-family: "Poppins", sans-serif;
    }
    /* second section */

    .banner-img {
      height: 59vh;
      width: 50vw;
      margin-left: -100px;
      background: #000;
      position: relative;

    }

    .team h2 {
      font-size: 60px;
      margin-left: 100px;
    }

    .about {
      position: absolute;
      top: 47%;
      margin-left: 60px;
    }

    .about p {
      width: 80%;
      font-size: 1.6vw;
      font-weight: 500;
      line-height: 1.8;
      letter-spacing: 1px;
      font-family: "Poppins", sans-serif;
    }
    .banner-img img {
      width: 100%;
      height: 100%;
      /* object-fit: contain; */
    }


    .action-text {
      width: 54%;
      font-size: 14px;
    }

    .action-text button {
      font-weight: bolder;
    }


    .btn-icon {
      width: 20px !important;
    }

    .last-panel {
      position: relative;
      z-index: 5;
    }

    .footer {
      position: fixed;
      width: 100vw;
      height: 60vh;
      bottom: 0;
      background: #000000;
      z-index: 0 !important;
    }

    .footer h1 {
      font-size: 4.5vw;
      color: #fff;
      font-family: "Libre Baskerville", serif;
    }

    .footer hr {
      margin: 0 !important;
      background: rgba(255, 255, 255, 0.185);
    }

    .next-page {
      height: 80%;
    }

    .footer .social {
      height: 20%;
    }

    .footer-logo {
      width: 10vw;
  }

  .footer  .social .icons img {
      width: 4vw;
  }
  }
