

.contact-page .contact-intro {
    background-color: #054984;
    width: 100vw;
    height: 110vh;
    color: #fff;
    padding-left: 3vw;
}

.contact-page .contact-intro .header-text {
    width: 80vw;
}

.contact-page .contact-intro .header-text h2{
    font-size: 18vw;
    padding-bottom: 4vw;
}

.contact-page .contact-intro .header-text p {
    font-size: 5vw;
    font-weight: 500;
}

.contact-page .contacts {
    width: 85vw;
    padding: 10vw 0;
}

.contact-page .contacts h4 {
    font-size: 5vw;
    font-weight: 700;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
}

.contact-page .contacts p {
    font-size: 4.5vw;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.contact-page .contacts .email {
    padding-bottom: 6vw;
}

.working-hours {
    height: 40vh;
  }
  .working-hours small {
      font-size: 5vw;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
  }
  .working-hours ul {
    padding: 0;
    margin-top: 2vw;
  }
  .working-hours ul li {
    list-style: none;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 5vw;
    font-family: "Poppins", sans-serif;
  }

  
.footer {
    background: #000;
}

.footer .next-page {
    height: 60vw;
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer .next-page h2 {
    font-size: 12vw;
}

.footer .social-icons {
    width: 75vw;
    margin: 0 auto;
}

.footer .social-icons img {
    width: 14vw;
}

.footer .footer-logo {
    height: 30vw;
}

.footer .footer-logo img {
    width: 25vw;
}
