@media screen and (min-width: 1025px) {
  .v-container {
    width: 200%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
  }

  .panel {
    width: 100%;
    height: 100vh;
    display: flex;
    font-weight: 600;
    font-size: 1.5em;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
  }
  .panel.align-top {
    align-items: flex-start;
  }

  .panel.description {
    /* width: 85% !important; */
    padding-bottom: 60px;
  }
  .logo-brand {
    background-color: #d3a600;
    padding: 0 20vw 0 7vw;
    height: 100vh;
    width: 30vw;
    position: relative;
  }

  .logo-brand img {
    width: 145px;
    margin-top: 55px;
  }

  .logo-brand h2 {
    font-size: 5vw;
    letter-spacing: 1px;
    line-height: 1.3;

  }

  .slide {
    overflow: hidden;
    height: 13vw;
  }

  .slide2 {
    overflow: hidden;
    height: 12vw;
    width: 32vh;
  }

  .welcome{
    position: absolute;
    bottom: 120px;
    right: 30px;
  }

  .logo-brand .company-label {
    position: absolute;
    bottom: 5vh;
    left: -5vw;
  }

  .logo-brand h5 {
    transform: rotate(270deg);
    /* transform-origin: left; */
    font-size: 0.9vw;
    font-weight: bold;
  }

  .homepage-banner {
    height: 100vh;
    padding: 30px 0 0 100px;
  }

  .homepage-banner .descriptions {
    height: 80px;
    width: 50vw !important;
  }

  .homepage-banner .descriptions span {
    margin-right: 15px;
    font-weight: 500;
    font-size: 19px;
  }

  .banner-captions {
    position: absolute;
    top: 34%;
  }
  .banner-captions p {
    width: 72%;
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
  }
  /* second section */

  .banner-img {
    height: 59vh;
    width: 50vw;
    margin-left: -100px;
    position: relative;

  }

  .team h2 {
    font-size: 60px;
    margin-left: 100px;
  }

  .about {
    position: absolute;
    top: 47%;
    margin-left: 60px;
  }

  .about p {
    width: 80%;
    font-size: 1.6vw;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
  }
  .banner-img img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
  }


  .action-text {
    width: 54%;
    font-size: 14px;
  }

  .action-text button {
    font-weight: bolder;
    font-size: 1.1vw;
  }

  .action-text button  img {
    width: 1.3vw;
  }


  .btn-icon {
    width: 20px !important;
  }

  .last-panel {
    position: relative;
    z-index: 5;
  }

  .footer {
    position: fixed;
    width: 100vw;
    height: 60vh;
    bottom: 0;
    background: #000000;
    z-index: 0 !important;
  }

  .footer h1 {
    /* margin-top: 20vw; */
    font-size: 4.5vw;
    color: #fff;
    font-family: "Libre Baskerville", serif;
  }

  .footer a {
    color: #fff;
    text-decoration: none;
  }

  .footer hr {
    margin: 0 !important;
    background: rgba(255, 255, 255, 0.185);
  }

  .next-page {
    height: 80%;
  }

  .footer .social {
    height: 20%;
  }

  .footer-logo {
    width: 10vw;
}

.footer  .social .icons img {
    width: 4vw;
}
}
