.about-page .about-intro {
    background-color: #D3A600;
    height: 90vh;
    width: 100vw;
    position: relative;
}

.about-page .about-intro .intro-text {
    position: absolute;
    bottom: 15vw;
    padding-left: 2.5vw;
}

.about-page .about-intro h2 {
    font-size: 20vw;
}

.about-page .about-intro h5 {
    transform:  rotate(270deg);
    transform-origin: left;
    margin-left: 10px;
    font-size: 4vw;
    color: #fff;
    font-weight: bold;
}

.about-us {
    color: #fff;
    position: relative;
}

.about-us p {
    padding: 13vw 3vw 80vw;
    font-size: 4.7vw;
}

.about-us img {
    width: 100vw;
    height: 110vw;
    object-fit: cover;
    padding: 10vw 5vw;
    position: absolute;
    bottom: -37vw;
}

.action-text {
    padding: 30vw 5vw 10vw;
}

.action-text h2 {
    font-size: 9vw;
}

.action-text p{
    font-size: 5vw;
    font-weight: 800;
    padding: 25px 0 40px;
}

.action-text button {
    font-size: 5vw;
    font-weight: 900;
}

.action-text button img {
    width: 6vw;
    margin-left: 3vw;
}


.footer {
    background: #000;
}

.footer .next-page {
    height: 60vw;
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: none;
  }

.footer .next-page h2 {
    font-size: 12vw;
}

.footer .social-icons {
    width: 75vw;
    margin: 0 auto;
}

.footer .social-icons img {
    width: 14vw;
}

.footer .footer-logo {
    height: 30vw;
}

.footer .footer-logo img {
    width: 25vw;
}