@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');


.nocursor {
  cursor: none !important
}

h2 {
  font-family: "Libre Baskerville", serif;
}
a {
  text-decoration: none;
}

.lignt {
  background-color: rgb(255, 255, 255) !important;
}

.last-panel {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.dark {
  background-color: #000000 !important;
}

.vsc-popup-button--default {
  background: #000 !important;
}

#cursor {
  cursor: none !important;
  z-index: 1000 !important;
}

.navbar {
  z-index: 1100;
}

#menuToggle svg:hover {
  cursor: pointer;
}

/* .footer a {
  color: #000;
  text-decoration: none;
} */

.preloaders {
  z-index: 10000 !important;
}

.preloaders-overlay {
  opacity: 1 !important;
}

.preloaders-overlay,
.preloaders {
  position: fixed !important;
  height: 100vh !important;
}

.b-skeleton-animate-wave::after {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4)
  ) !important;
  
}

.b-skeleton-animate-fade {
  -webkit-animation: b-skeleton-animate-fade 0.875s ease-in-out alternate
    infinite;
  animation: b-skeleton-animate-fade 0.875s ease-in-out alternate infinite;
}

.b-skeleton {
  background-color: rgba(82, 82, 82, 0.418) !important;
  cursor: wait;
  z-index: 3000;
}

@-webkit-keyframes b-skeleton-animate-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
