<template>
  <div>
    <div class="mobile-view">
        <ContactMobile />
    </div>
    <div class="desktop-view">
        <Contact />
    </div>
  </div>
</template>

<script>
import Contact from './components/Contact'
import ContactMobile from './components/Contact-mobile'
export default {
  components: {
    Contact,
    ContactMobile
  }
}
</script>

<style scoped>
  @media screen and (min-width: 1026px) {
    .mobile-view {
      display: none;
    }
  }
  @media screen and (max-width: 1025px) {
    .desktop-view {
      display: none !important;
    }
  }
</style>
