@media screen and (min-width: 1025px) {
  .v-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
  }

  .panel {
    width: 100%;
    min-height: 100vh;
    display: flex;
    font-weight: 600;
    font-size: 1.5em;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
  }

  .panel.align-top {
    align-items: flex-start;
  }

  .panel.description {
    width: 85% !important;
    padding-bottom: 60px;
  }

  .logo-brand {
    width: 280px;
    padding: 0 40px;
    position: absolute;
    z-index: 10;
  }

  .logo-brand img {
    width: 145px;
    margin-top: 55px;
  }

  .blog-container {
    padding: 10vw 0 4vw 0;
  }

  .blog-watermark {
    position: fixed;
    z-index: 0;
  }

  .blog-watermark img {
    width: 17vw;
  }

  .slide {
    height: 6vw;
    overflow: hidden;
    margin-bottom: 1.6vw;
  }

  .row a {
    text-decoration: none;
  }

  .blog-posts {
    width: 100vw;
    padding: 0 10vw;
    position: relative;
    z-index: 4;
  }

  .blog-title {
    color: #fff;
    font-size: 3.7vw;
    position: relative;
    z-index: 1;
  }

  .blog-cards {
    /* width: 30%; */
    text-decoration: none;
    padding-bottom: 3vw;

}

.blog-cards img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.write-up h5 {
  font-size: 1.5vw;
}

.write-up p {
  font-size: 1vw;
}

.projects-bg-img .projects-name {
  position: absolute;
  right: -11.5vw;
  z-index: 6;
  font-size: 7.2vw;
  bottom: 150px;
}

.projects-bg-img .projects-name span {
  color: transparent;
  background-size: cover;
  background-image: url("../../../../assets/img/banner-img.jpeg");
  background-clip: text;
  -webkit-background-clip: text;
}

.projects-bg-img {
  position: relative;
}

.projects-bg-img img {
  width: 30vw;
  height: 100vh;
  object-fit: cover;
}

.blog-content small {
  font-size: 1vw;
}

.blog-content h4 {
  font-size: 1.9vw;
}

.blog-content .blog-header {
  padding: 120px 100px 70px;
}

.blog-content .blog-header p {
  font-size: 1vw;
  width: 26vw;
}

.blog-content .article {
  position: absolute;
  bottom: 3vw;
}

.dark-mode .blog-header {
  padding: 12vw 10vw 7vw 16vw;
  color: #fff;
  z-index: 3;
  position: relative;
}

.dark-mode .blog-header h1 {
  font-size: 8vw;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.dark-mode .blog-header small {
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
}

.dark-mode .article {
  font-size: 1vw;
  position: absolute;
  width: 75vw;
  bottom: 10vh;
}

  .dark-mode .article {
    font-size: 1vw;
    position: absolute;
    width: 75vw;
    bottom: 10vh;
  }

  .next-page {
    height: 80%;
  }
}
