    .blog-page {
        background-color: #000;
        /* height: 100vh; */
        padding: 30vw 0;
    }

    .blog-page a {
      text-decoration: none;
    }
    
    .blog-posts {
      width: 100vw;
      position: relative;
      z-index: 4;
      padding: 0 3vw;
    }
  
    .blog-title {
      color: #fff;
      font-size: 12vw;
      position: relative;
      z-index: 1;
    }
  
    .blog-cards {
      width: 100%;
      margin-bottom: 13vw;
    }
  
    .blog-cards img {
      width: 100%;
    }
  
    .write-up h5{
      font-size: 5vw;
    }
  
    .write-up p {
      font-size: 4.3vw;
    }
  
    .projects-bg-img .projects-name {
      position: absolute;
      right: -11.5vw;
      z-index: 6;
      font-size: 7.2vw;
      bottom: 150px;
    }
  
    .projects-bg-img .projects-name span {
      color: transparent;
      background-size: cover;
      background-image: url("../../../../assets/img/banner-img.jpeg");
      background-clip: text;
      -webkit-background-clip: text;
    }
  
    .projects-bg-img {
      position: relative;
    }
  
    .projects-bg-img img {
      width: 30vw;
      height: 100vh;
      object-fit: cover;
    }
  
    .blog-content small {
      font-size: 1vw;
    }
  
    .blog-content h4 {
      font-size: 1.9vw;
    }
  
    .blog-content .blog-header {
      padding: 120px 100px 70px;
    }
  
    .blog-content .blog-header p {
      font-size: 1vw;
      width: 26vw;
    }
  
    .blog-content .article {
      position: absolute;
      bottom: 3vw;
    }
  
    .dark-mode .blog-header{
      padding: 120px 100px 70px 16vw;
      color: #fff;
      z-index: 3;
      position: relative;
    }
  
    .dark-mode .blog-header h1 {
      font-size: 8vw;
      font-weight: 700;
      /* border: 10px solid red */
      font-family: 'Poppins', sans-serif;
    }
  
    .dark-mode .blog-header small{
      font-family: 'Poppins', sans-serif;
      font-size: 1vw;
    }
  
    .dark-mode .article {
      font-size: 1vw;
      position: absolute;
      width: 75vw;
      bottom: 10vh;
    }


.footer {
    background: #000;
    padding-top: 15vw;
}

.footer .social-icons {
    width: 75vw;
    margin: 0 auto;
    padding: 20vw 0 10vw;
}

.footer .social-icons img {
    width: 14vw;
}