<template>
    <div>
      <!-- <div class="mobile-view">
        <RealvestMobile />
      </div> -->
      <!-- <div class="desktop-view">
        <Realvest />
      </div> -->
      <div class="desktop-view">
            <Projects />
      </div>
       <div class="mobile-view">
           <ProjectsMobile />
       </div>
    </div>
</template>

<script>
import Projects from './components/project'
import ProjectsMobile from './components/project-mobile'
// import Realvest from './components/projects/Realvest/Realvest'
// import RealvestMobile from './components/projects/Realvest/Realvest-mobile'
export default {
  components: {
    Projects,
    // Realvest,
    // RealvestMobile
    ProjectsMobile
  }
}
</script>

<style scoped>
@media screen and (min-width: 1026px) {
  .mobile-view {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .desktop-view {
    display: none !important;
  }
}
</style>
