<template>
  <div class="projects-page">
    <div class="projects-page">
      <div class="dark">
        <div class="projects">
          <img
            src="https://images.unsplash.com/photo-1531971589569-0d9370cbe1e5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW9kZXJuJTIwaG91c2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
            class="image"
            alt=""
          />
          <h2>RealVest</h2>
          <div class="captions">
            <h1>.01</h1>
            <div class="clear"></div>
            <p>User Research</p>
            <p>Ux Wireframing</p>
            <p>User Interface Design</p>
            <p>Project Management</p>
            <p>Deployment</p>
            <p cursor-class="menu-hover">
              <b-button
                href="https://realvest.ng"
                target="_blank"
                variant="transparent"
                class="p-0 text-light"
                >Visit
                <img src="@/assets/img/dark-arrow.svg" class="ml-3" alt=""
              /></b-button>
            </p>
          </div>
        </div>
        <div class="projects">
          <img
            src="https://images.unsplash.com/photo-1576897953143-b86eeff0ed79?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fG1vZGVybiUyMGhvdXNlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
            class="image"
            alt=""
          />
          <h2>Homify</h2>
          <div class="captions">
            <h1>.02</h1>
            <div class="clear"></div>
            <p>User Research</p>
            <p>Ux Wireframing</p>
            <p>User Interface Design</p>
            <p>Project Management</p>
            <p>Deployment</p>
            <b-button
              href="https://homify.ng"
              target="_blank"
              variant="transparent"
              class="p-0 text-light"
              >Visit <img src="@/assets/img/dark-arrow.svg" class="ml-3" alt=""
            /></b-button>
          </div>
        </div>
        <div class="projects">
          <img
            src="https://images.unsplash.com/photo-1492496913980-501348b61469?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZmFybXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
            class="image"
            alt=""
          />
          <h2>Agbeloba</h2>
          <div class="captions">
            <h1>.03</h1>
            <div class="clear"></div>
            <p>User Research</p>
            <p>Ux Wireframing</p>
            <p>User Interface Design</p>
            <p>Project Management</p>
            <p>Deployment</p>
            <b-button
              href="https://agbeloba.ng"
              target="_blank"
              variant="transparent"
              class="p-0 text-light"
              >Visit <img src="@/assets/img/dark-arrow.svg" class="ml-3" alt=""
            /></b-button>
          </div>
        </div>
        <div class="projects">
          <img
            src="https://images.unsplash.com/photo-1590571228517-f17243ae4139?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bXVzaWMlMjBzdHVkaW98ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
            class="image"
            alt=""
          />
          <h2>RedRush</h2>
          <div class="captions">
            <h1>.04</h1>
            <div class="clear"></div>
            <p>User Research</p>
            <p>Ux Wireframing</p>
            <p>User Interface Design</p>
            <p>Project Management</p>
            <p>Deployment</p>
            <b-button
              href="https://redrush.ng"
              target="_blank"
              variant="transparent"
              class="p-0 text-light"
              >Visit <img src="@/assets/img/dark-arrow.svg" class="ml-3" alt=""
            /></b-button>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="next-page d-flex align-items-center justify-content-center">
          <router-link to="/contact">
            <h2>Contact Us</h2>
          </router-link>
        </div>

        <social-icons light mobile />

        <div
          class="footer-logo d-flex align-items-center justify-content-center"
        >
          <img src="@/assets/img/datafirst-logo.svg" alt="footer-logo" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "social-icons": () => import("@/components/SocialIcons"),
  },
};
</script>

<style scoped>
@import "../assets/css/mobile.css";
</style>
