<template>
  <div>
    <div class="v-container dark" id="container">
      <section class="dark panel d-flex align-items-center">
        <div class="projects first-project">
          <div class="img-holder d-flex">
            <div class="project-image">
              <div class="slide">
                <h1 class="">Realvest</h1>
              </div>
              <img
                class="first-img"
                style="z-index: 1"
                src="https://images.unsplash.com/photo-1531971589569-0d9370cbe1e5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW9kZXJuJTIwaG91c2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                alt=""
              />
            </div>

            <div class="captions">
              <div class="slide2">
                <h1>. 01</h1>
              </div>
              <p>User Research</p>
              <p>UX Wireframing</p>
              <p>User Interface Design</p>
              <p>Project Management</p>
              <p>Deployment</p>
              <p cursor-class="menu-hover">
                <b-button
                  href="https://realvest.ng"
                  target="_blank"
                  variant="transparent"
                  class="p-0 text-light"
                  >Visit
                  <img src="@/assets/img/dark-arrow.svg" class="ml-3" alt=""
                /></b-button>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="dark panel d-flex align-items-center">
        <div class="projects others">
          <div class="img-holder d-flex">
            <div class="project-image">
              <h1 class="project-name">Homify</h1>
              <img
                class="first-img"
                style="z-index: 1"
                src="https://images.unsplash.com/photo-1576897953143-b86eeff0ed79?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fG1vZGVybiUyMGhvdXNlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                alt=""
              />
            </div>
            <div class="captions">
              <div class="slide2">
                <h1>. 02</h1>
              </div>
              <p>User Research</p>
              <p>UX Wireframing</p>
              <p>User Interface Design</p>
              <p>Project Management</p>
              <p>Deployment</p>
              <p cursor-class="menu-hover">
                <b-button
                  href="https://homify.ng"
                  target="_blank"
                  variant="transparent"
                  class="p-0 text-light"
                  >Visit
                  <img src="@/assets/img/dark-arrow.svg" class="ml-3" alt=""
                /></b-button>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="dark panel d-flex align-items-center">
        <div class="projects others">
          <div class="img-holder d-flex">
            <div class="project-image">
              <h1 class="project-name">Agbeloba</h1>
              <img
                class="first-img"
                style="z-index: 1"
                src="https://images.unsplash.com/photo-1492496913980-501348b61469?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZmFybXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                alt=""
              />
            </div>
            <div class="captions">
              <div class="slide2">
                <h1>. 03</h1>
              </div>
              <p>User Research</p>
              <p>UX Wireframing</p>
              <p>User Interface Design</p>
              <p>Project Management</p>
              <p>Deployment</p>
              <p cursor-class="menu-hover">
                <b-button
                  href="https://agbeloba.ng"
                  target="_blank"
                  variant="transparent"
                  class="p-0 text-light"
                  >Visit
                  <img src="@/assets/img/dark-arrow.svg" class="ml-3" alt=""
                /></b-button>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="dark panel d-flex align-items-center last-panel">
        <div class="projects others">
          <div class="img-holder d-flex">
            <div class="project-image">
              <h1 class="project-name">RedRush</h1>
              <img
                class="first-img"
                style="z-index: 1"
                src="https://images.unsplash.com/photo-1590571228517-f17243ae4139?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bXVzaWMlMjBzdHVkaW98ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                alt=""
              />
            </div>
            <div class="captions">
              <div class="slide2">
                <h1>. 04</h1>
              </div>
              <p>User Research</p>
              <p>UX Wireframing</p>
              <p>User Interface Design</p>
              <p>Project Management</p>
              <p>Deployment</p>
              <p cursor-class="menu-hover">
                <b-button
                  href="https://redrush.ng"
                  target="_blank"
                  variant="transparent"
                  class="p-0 text-light"
                  >Visit
                  <img src="@/assets/img/dark-arrow.svg" class="ml-3" alt=""
                /></b-button>
              </p>
            </div>
          </div>
        </div>
      </section>

      <div class="footer" id="home-footer">
        <div class="d-flex justify-content-center align-items-center next-page">
          <router-link to="/contact">
            <h1 cursor-class="menu-hover">Contact Us</h1>
          </router-link>
        </div>
        <hr />
        <div
          class="d-flex align-items-center justify-content-between social px-5"
        >
          <img
            src="@/assets/img/datafirst-logo.svg"
            class="footer-logo"
            alt=""
          />

          <social-icons light />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { myHelperFunction } from "@/mixins/ScrollAnimation/projects";
import { CursorHoverFunction } from "@/mixins/interactions/cursorHoverEffects";
export default {
  mixins: [myHelperFunction, CursorHoverFunction],
  data() {
    return {};
  },
  components: {
    "social-icons": () => import("@/components/SocialIcons"),
  },
};
</script>

<style scoped>
@import "../assets/css/desktop.css";
</style>
