<template>
  <div>
    <div class="desktop-view">
      <Blog />
    </div>
    <div class="mobile-view">
      <BlogMobile />
    </div>
  </div>
</template>

<script>
import Blog from './components/blog'
import BlogMobile from './components/blog-mobile'
export default {
  components: {
    Blog,
    BlogMobile
  }
}
</script>

<style scoped>
  @media screen and (min-width: 1026px) {
    .mobile-view {
      display: none;
    }
  }
  @media screen and (max-width: 1025px) {
    .desktop-view {
      display: none !important;
    }
  }
</style>
