<template>
  <div>
    <div class=" panel dark dark-mode w-100">
      <div class="d-flex blog-content w-100">
        <div class="projects-bg-img">
          <img :src="post.image" alt=""/>
        </div>

        <div class="blog-header w-100">
          <div class="d-flex justify-content-between  w-100">
            <h1>0{{$route.params.blog_index}}</h1>
            <small>{{formatDate(post.createdat)}} </small>
          </div>
          <div class="article">
            <p>
             {{post.content}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from 'axios'
export default {
  props: ['idx'],
  data() {
    return {
      post:{

      }
    }
  },

  async mounted() {
    let id = this.$route.params.blog_id
    let {data} = await Axios.get("https://blog-api.datafirst.com.ng/post/"+`${id}`,{Headers:{ "Content-Type": "application/json"}}
    );

    this.post = data.data.post;
  },

  methods: {
     formatDate(d) {
       let date = new Date(d)
      return date.toLocaleString(["en-Us"], {
        day: "2-digit",
        month: "short",
        year: "numeric",
      });
    },
  }
}
</script>

<style scoped>
.panel {
  min-height: 100vh;
}

.blog-watermark {
  position: absolute;
  z-index: 0;

}

.blog-header {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 1%;
}

.projects-bg-img {
  position: fixed;
}

.projects-bg-img img {
  width: 25vw;
  height: 100vh;
  object-fit: cover;
}

.dark-mode .blog-header {
  padding: 9vw 100px 0 5vw;
  color: #fff;
  z-index: 3;
  position: relative;
  margin-left: 24vw;
}

.dark-mode .blog-header h1 {
  font-size: 8vw;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.dark-mode .blog-header small {
  font-family: "Poppins", sans-serif;
  padding-top: 1vw;
  font-size: 1vw;
}

.dark-mode .article {
  font-size: 1vw;
  width: 63vw;
  padding-top: 25vh;
}
</style>
