<template>
  <div class="dark">
    <div class=" dark-mode w-100">
      <div class="blog-banner">
        <img :src="post.image" alt="" />
      </div>

      <div class="blog-header w-100">
        <div class="d-flex justify-content-between align-items-end  w-100">
          <h1 class="mb-0">0{{$route.params.blog_index}}</h1>
          <small class="d-block pb-3">{{formatDate(post.createdat)}}</small>
        </div>
        <div class="article">
          <p>
            {{post.content}}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from 'axios'
export default {
   data() {
    return {
      post:{

      }
    }
  },

  async mounted() {
    let id = this.$route.params.blog_id
    let {data} = await Axios.get("https://blog-api.datafirst.com.ng/post/"+`${id}`,{Headers:{ "Content-Type": "application/json"}}
    );
    this.post = data.data.post;
  },

  methods: {
     formatDate(d) {
       let date = new Date(d)
      return date.toLocaleString(["en-Us"], {
        day: "2-digit",
        month: "short",
        year: "numeric",
      });
    },
  }
}
</script>

<style scoped>
.dark {
  min-height: 100vh;
}
.blog-banner img {
  width: 100vw;
  height: 80vw;
  object-fit: cover;
}

.dark-mode .blog-header {
  padding: 20vw 3vw;
  color: #fff;
  z-index: 3;
  position: relative;
}

.dark-mode .blog-header h1 {
  font-size: 17vw;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.dark-mode .blog-header small {
  font-family: "Poppins", sans-serif;
  font-size: 4.5vw;
}

.dark-mode .article {
  font-size: 4.6vw;
  bottom: 10vh;
  margin-top: 10vw;
  font-family: "Poppins", sans-serif;
}

.footer {
  background: #000;
}

.footer .social-icons {
  width: 75vw;
  margin: 0 auto;
  padding: 5vw 0 25vw;
}

.footer .social-icons img {
  width: 14vw;
}
</style>
