<template>
  <div>
    <div class='desktop-view'>
      <ContentPage />
    </div>

    <div class='mobile-view'>
      <ContentPageMobile />
    </div>
  </div>
</template>

<script>
import ContentPage from './contentPage'
import ContentPageMobile from './contentPage-mobile'
export default {
  components: {
    ContentPage,
    ContentPageMobile
  }
}
</script>

<style scoped>
@media screen and (min-width: 1026px) {
  .mobile-view {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .desktop-view {
    display: none !important;
  }
}
</style>
