<template>
  <div >
      <div class="header-bg"></div>
    <div class="descriptions d-flex align-items-center">
        <div class="ml-auto">
            <span>Design</span>
            <span>.</span>
            <span>Development</span>
            <span>.</span>
            <span>Management</span>
        </div>
    </div>

    <div class="hero-section">
        <div class="hero-caption text-dark d-flex align-items-end">
            <div class="">
                <h2>We Light Things Up With Tech</h2>
                <p>We are very enthusiastic about building
              beautiful, stable, secure, scrupulous and future-ready
              applications that work flawlessly every time, for every user, in
              every situation. </p>
            </div>
        </div>
        <div class="hero-img d-flex align-items-center">
            <img src="https://images.nappy.co/uploads/large/2803160880319697xxhnmd9fksphgtutvmj7s84rmsexpfnkuw9meljlkez3bblkanoxwzmejwidnncedn1xedgy5alcxinn5jymm8sau1go9vcnee.jpg?auto=format&fm=jpg&w=1280&q=75" alt="">
            <div class="title d-flex align-items-center justify-content-center">
              <h2 class="">{{pageData.team.company.pre}}<span>{{pageData.team.company.end}} </span> </h2>
            </div>
        </div>

        <div class="call-to-action d-flex align-items-center justify-content-center">
            <div class="">
                <p>We are experts at what we do, yet we are committed to continuous learning in order to consistently solve problems and provide excellent customer satisfaction with world class technological solutions. </p>
                <b-button variant='transparent' class="p-0" to="'/contact'">Let's talk <img src="@/assets/img/right-arrow.svg"  alt=""></b-button>
            </div>
        </div>

        <div class="team dark">
            <div class="caption">
                <div class="team-caption ">
                     We are a group of creative and enthusiastic people - Designers, Software Engineers, Software Architects, DevOps Engineers, Quality Assurance Engineers, Product managers, Data scientists, Business Consultants etc.
                </div>
                <b-button variant='transparent' class="p-0 text-light" to="/contact">Talk to us<img src="@/assets/img/dark-arrow.svg" class="" alt=""></b-button>
            </div>
            <div class="team-pictures">
                <img src="https://images.nappy.co/uploads/large/28031608804060ltjqqj8yjsbcxzztzon9ai4ua1xdtbeml4jdog7y2hajsg4vve8ynftgosctszcy7rpb1vrqk8q3aledymesg5uf1cjrbvcrnr1r.jpg?auto=format&fm=jpg&w=1280&q=75" alt="">
                <img src="https://images.nappy.co/uploads/large/28031608866577y0awn5fawvfngg5pk2uqinjsmueiq3pxxvlumzmh1titxepiawsk6bqaasmzeylay7c66xvsgj4hgl6r8g4jwrrmdcbopnjgyktl.jpg?auto=format&fm=jpg&w=1280&q=75" alt="">
                <img src="https://images.nappy.co/uploads/large/280316088663059oshaytgwtytlzhwiniegwtcgvd4zhoesauhpzkmxevhbgb4216vyifrocwvsyqh1bz0nivql9yslztx1atfw9tce63njnocsqwt.jpg?auto=format&fm=jpg&w=1280&q=75" alt="">
                <img src="https://images.nappy.co/uploads/large/28031608865558ybldhwig55rtlonbmajiqtpaujqivexf6tkxcpvcub8rsrxptcxakgpggiihnleruarlwburoeirmv0ra0yrhq8xg8youkh6ig9c.jpg?auto=format&fm=jpg&w=1280&q=75" alt="">
            </div>
        </div>

        <div class="testimonials dark">
            <div class="" v-for="(item, index) in pageData.testimonials" :key="index">
                <div class="testimonies">
                    <div class="d-flex align-items-center">
                        <img :src="item.img" alt="">
                        <div class="testifier">
                            <h5>{{item.fullname}} </h5>
                            <p>{{item.position}} </p>
                        </div>
                    </div>
                    <p class="testimony mb-0" >
                        " {{item.testimony}} "
                    </p>
                </div>
                <hr v-if="index+1 != pageData.testimonials.length ">
             </div>
        </div>

        <div class="footer">
            <div class="next-page d-flex align-items-center justify-content-center">
                <router-link to="/about">
                    <h2>About Us</h2>
                </router-link>
            </div>

          <social-icons mobile/>

            <div class="footer-logo d-flex align-items-center justify-content-center">
              <router-link to="/">
                <img src="@/assets/img/datafirst-logo.svg" class="footer-logo" alt="">
              </router-link>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import pageData from '../assets/page-content.json'

export default {
  data () {
    return {
      pageData
    }
  },
  components: {
    'social-icons': () => (import('@/components/SocialIcons'))
  },
}

</script>
<style scoped>
   @import '../assets/css/mobile.css'
</style>
