<template>
  <div>
    <div class="v-container" id="container" v-on:scroll="pageScroll">
      <div class="description panel lignt">
        <div class="logo-brand">
          <!-- <img src="@/assets/img/datafirst-logo.svg" alt=""> -->
          <h5 class="text-light">Datafirst Technologies</h5>
        </div>
        <div class="homepage-banner">
          <div class="descriptions d-flex align-items-center">
            <span>Design</span>
            <span>.</span>
            <span>Development</span>
            <span>.</span>
            <span>Management</span>
          </div>
          <div class="banner-captions text-dark">
            <h2>
              We Light Things Up With Tech
            </h2>
            <p>
              We are very enthusiastic about building
              beautiful, stable, secure, scrupulous and future-ready
              applications that work flawlessly every time, for every user, in
              every situation.
            </p>
          </div>
        </div>
      </div>
      <section class="panel lignt d-flex align-items-center">
        <div class="banner-img">
          <img src="https://images.nappy.co/uploads/large/2803160880319697xxhnmd9fksphgtutvmj7s84rmsexpfnkuw9meljlkez3bblkanoxwzmejwidnncedn1xedgy5alcxinn5jymm8sau1go9vcnee.jpg?auto=format&fm=jpg&w=1280&q=75" alt="" />
        </div>

        <div class="title d-flex align-items-center">
          <h2 class="">
            {{ pageData.team.company.pre
            }}<span>{{ pageData.team.company.end }} </span>
          </h2>
        </div>

        <div class="homepage-banner company">
          <div class="banner-captions action-text text-dark">
            <p>We are experts at what we do, yet we are committed to continuous learning in order to consistently solve problems and provide excellent customer satisfaction with world class technological solutions.</p>
            <b-button :to="'/contact'" cursor-class="menu-hover" variant="transparent" class="p-0"
              >Let's talk
              <img src="@/assets/img/right-arrow.svg" alt=""
            /></b-button>
          </div>
        </div>
      </section>
      <section
        class="panel d-flex align-items-center last-but-one dark section-three"
      >
        <div class="caption">
          <p>
            We are a group of creative and enthusiastic people - Designers, Software Engineers, Software Architects, DevOps Engineers, Quality Assurance Engineers, Product managers, Data scientists, Business Consultants etc.
          </p>
          <b-button variant="transparent" class="p-0 text-light" cursor-class="menu-hover" to="/contact"
            >Talk to us<img src="@/assets/img/dark-arrow.svg" class="" alt=""
          /></b-button>
        </div>
        <div class="grid">
          <div class="grid-img-holder">
            <div class="grid-img d-flex">
              <img src="https://images.nappy.co/uploads/large/28031608804060ltjqqj8yjsbcxzztzon9ai4ua1xdtbeml4jdog7y2hajsg4vve8ynftgosctszcy7rpb1vrqk8q3aledymesg5uf1cjrbvcrnr1r.jpg?auto=format&fm=jpg&w=1280&q=75" class="spaced" alt="" />
              <img src="https://images.nappy.co/uploads/large/28031608866577y0awn5fawvfngg5pk2uqinjsmueiq3pxxvlumzmh1titxepiawsk6bqaasmzeylay7c66xvsgj4hgl6r8g4jwrrmdcbopnjgyktl.jpg?auto=format&fm=jpg&w=1280&q=75" alt="" />
            </div>
            <div class="grid-img d-flex">
              <img src="https://images.nappy.co/uploads/large/280316088663059oshaytgwtytlzhwiniegwtcgvd4zhoesauhpzkmxevhbgb4216vyifrocwvsyqh1bz0nivql9yslztx1atfw9tce63njnocsqwt.jpg?auto=format&fm=jpg&w=1280&q=75" class="spaced" alt="" />
              <img src="https://images.nappy.co/uploads/large/28031608865558ybldhwig55rtlonbmajiqtpaujqivexf6tkxcpvcub8rsrxptcxakgpggiihnleruarlwburoeirmv0ra0yrhq8xg8youkh6ig9c.jpg?auto=format&fm=jpg&w=1280&q=75" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section
        class="panel lignt align-items-center justify-content-center last-panel"
      >
        <div class="pl-5 testimonial">
          <!-- <div class="holder"> -->
          <div
            class=""
            v-for="(item, index) in pageData.testimonials"
            :key="index"
          >
            <div
              class="d-flex justify-content-between align-items-center py-4 comments"
            >
              <img :src="item.img" alt="" />
              <div class="text-dark">
                <h5>{{ item.fullname }}</h5>
                <p>{{ item.position }}</p>
              </div>
              <p class="text-dark testimony">
                {{ item.testimony }}
              </p>
            </div>
            <hr v-if="index + 1 != pageData.testimonials.length" />
          </div>
          <!-- </div> -->
        </div>
      </section>
      <!-- <section class="panel green">
        FOUR
      </section> -->
      <div class="footer" id="home-footer">
        <!-- <div > -->
        <div class="d-flex justify-content-center align-items-center next-page">
          <router-link to="/about">
            <h1 cursor-class="menu-hover">About Us</h1>
          </router-link>
        </div>
        <hr />
        <div
          class="d-flex align-items-center justify-content-between social px-5"
        >
          <router-link to="/">
            <img
              src="@/assets/img/datafirst-logo.svg"
              class="footer-logo"
              alt=""
            />
          </router-link>

          <social-icons dark/>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import pageData from "../assets/page-content.json";
// import gsap from 'gsap'
// import ScrollTrigger from 'gsap/ScrollTrigger'
// gsap.registerPlugin(ScrollTrigger)
import { myHelperFunction } from "../../../mixins/ScrollAnimation/homepage";

export default {
  mixins: [myHelperFunction],
  data() {
    return {
      pageData,
    };
  },
  components: {
    "social-icons": () => import("@/components/SocialIcons"),
  },
};
</script>
<style scoped>
@import "../assets/css/desktop.css";
</style>
