<template>
  <div class="">
    <div class="menubar-animate"></div>
    <div class="menubar-animate"></div>
    <div id="menubar" class="menubar">
      <div class="pages">
        <div class="holder">
          <img src="@/assets/img/pages/home-page.png" alt="" />
          <img src="@/assets/img/pages/about-page.png" alt="" />
          <img src="@/assets/img/pages/project-page.png" alt="" />
          <img src="@/assets/img/pages/contact-page.png" alt="" />
          <img src="@/assets/img/pages/blog-page.png" alt="" />
          <img src="@/assets/img/pages/careers.png" alt="" />
        </div>
      </div>
      <h1 class="watermark">
        Datafirst
      </h1>
      <div
        class=" close-btn d-flex"
        @click="closeMenubar"
        cursor-class="menu-hover"
      >
        <img src="@/assets/img/close-icon.svg" class="ml-auto" alt="" />
      </div>
      <div class="d-flex">
        <div class="menu-links align-items-center">
          <div
            class="link d-flex"
            cursor-class="menulinks-hover"
            @click="navigate('first-child', '/')"
            @mouseover="PagePreview('first-child')"
            @mouseleave="hidePreview('first-child')"
          >
            <span>01</span>
            <h1>Home</h1>
          </div>
          <div
            class="link d-flex"
            cursor-class="menulinks-hover"
            @click="navigate('nth-child(2)', '/about')"
            @mouseover="PagePreview('nth-child(2)')"
            @mouseleave="hidePreview('nth-child(2)')"
          >
            <span>02</span>
            <h1>Who We are</h1>
          </div>
          <div
            class="link d-flex"
            cursor-class="menulinks-hover"
            @click="navigate('nth-child(3)', '/case-studies')"
            @mouseover="PagePreview('nth-child(3)')"
            @mouseleave="hidePreview('nth-child(3)')"
          >
            <span>03</span>
            <h1>Case Studies</h1>
          </div>
          <div
            class="link d-flex"
            cursor-class="menulinks-hover"
            @click="navigate('nth-child(4)', '/contact')"
            @mouseover="PagePreview('nth-child(4)')"
            @mouseleave="hidePreview('nth-child(4)')"
          >
            <span>04</span>
            <h1>Talk to Us</h1>
          </div>
          <div
            class="link d-flex"
            cursor-class="menulinks-hover"
            @click="navigate('nth-child(5)', '/blog')"
            @mouseover="PagePreview('nth-child(5)')"
            @mouseleave="hidePreview('nth-child(5)')"
          >
            <span>05</span>
            <h1>Blog</h1>
          </div>
          <a
            class="link d-flex text-decoration-none"
            cursor-class="menulinks-hover"
            href="https://datafirst.welcomekit.co"
            @mouseover="PagePreview('nth-child(6)')"
            @mouseleave="hidePreview('nth-child(6)')"
            target="_blank"
          >
            <span>06</span>
            <h1>Careers</h1>
          </a>
        </div>

        <div class="menu-caption text-light d-flex align-items-center">
          <div class="caption">
            <div id="quote">
              <p>
                We are experts at what we do, yet we are committed to continuous
                learning in order to consistently solve problems and provide
                excellent customer satisfaction with world class technological
                solutions.
              </p>
              <b-button
                variant="transparent"
                to="/contact"
                cursor-class="menu-hover"
                class="p-0 text-light"
                >Let's talk
                <img src="@/assets/img/dark-arrow.svg" class="ml-3" alt=""
              /></b-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// let page = '.pages img:first-child'
import { CursorHoverFunction } from "../mixins/interactions/cursorHoverEffects";
import gsap from "gsap";
export default {
  mixins: [CursorHoverFunction],
  methods: {
    async PagePreview(data) {
      let desktopMode = await this.checkScreanSize();

      if (desktopMode) {
        let page = ".pages img:" + data;
        gsap.to(page, { xPercent: -40, ease: "back.out(1.7)", duration: 1.5 });
      }
    },
    async hidePreview() {
      let desktopMode = await this.checkScreanSize();
      if (desktopMode) {
        gsap.to(".pages img", {
          xPercent: 0,
          ease: "back.out(1.7)",
          duration: 1.5
        });
      }
    },
    checkScreanSize() {
      let pageWidth = window.innerWidth;

      if (pageWidth < 1025) {
        return false;
      }
      return true;
    },
    navigate(data, routePage) {
      let currentPage = this.$route.path;

      if (currentPage == routePage) {
        this.closeMenubar();
        return;
      }
      this.$router.push(routePage);
      this.closeMenubar();

      // let pageWidth = window.innerWidth;
      //   this.$router.push(routePage)
      // if(pageWidth > 1025) {
      //   let page = '.pages img:'+ data
      //   gsap.to(page, { x: '-100vw', width: '100vw', height:'100vh', top:0, objectFit: 'cover', ease: 'none', duration: 1.2})
      //   gsap.to('.menubar', { display: 'none', delay: 2, zIndex: 0})
      //   gsap.to(page, { delay:2, display: 'none' , zIndex: 0})

      //   setTimeout(() => {
      //     this.closeMenubar()
      //   },4000)
      // }else{
      //   this.closeMenubar()
      // }
    },
    closeMenubar() {
      gsap.to(".menubar", { yPercent: -100, ease: "none", duration: 0.6 });
      gsap.to(".menubar-animate", {
        yPercent: -100,
        delay: 1.4,
        ease: "none",
        duration: 0,
        stagger: 0.3
      });
      setTimeout(() => {
        this.$emit("closeMenu");
      }, 200);
    }
  }
};
</script>

<style scoped>
.menubar-animate:first-child,
.menubar-animate:nth-child(2) {
  position: fixed;
  z-index: 3001;
  height: 100vh;
  width: 100vw;
  margin-top: -100vh;
}

.menubar-animate:first-child {
  background: #6e001f;
}

.menubar-animate:nth-child(2) {
  background: #9e032f;
}
.menubar {
  background: #e40442;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: 3000;
  margin-top: -100vh;
}
.pages {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 40000;
  right: -100vw;
}

.pages .holder {
  position: relative;
}

.pages img {
  height: 100vw;
  height: 60vh;
  top: 20vh;
  object-fit: cover;
  position: absolute;
}

#menubar .watermark {
  top: 57vh;
  left: -30vw;
  color: #e5e5e525;
  font-size: 14vw;
  font-weight: 900;
  position: absolute;
  transform: rotate(90deg);
  font-family: "Poppins", sans-serif;
}

.close-btn img {
  width: 3.5vw;
  /* position: fixed; */
  margin-right: 1.5vw;
  margin-top: 1.5vw;
  z-index: 5;
  cursor: pointer;
}

.menu-links {
  padding: 12vh 0 0 12vw;
}

.menu-links .link {
  color: #fff;
  margin-bottom: 4vh;
  cursor: pointer;
  text-transform: capitalize;
}

.menu-links .link span {
  font-size: 1.4vw;
  font-weight: 700;
  transform: rotate(270deg);
  transform-origin: right;
  font-family: "Poppins", sans-serif;
}

.menu-links .link h1 {
  font-size: 4vw;
  display: inline;
  font-weight: bolder !important;
  font-family: "Libre Baskerville", serif;
}

.menu-links .link:hover h1,
.menu-links .link:hover span {
  color: #000 !important;
  transition: 1s ease-in-out;
}

.menu-caption {
  width: 23vw;
  height: 100vh;
}

.menu-caption .caption {
  height: 25vh;
  overflow: hidden;
  margin-left: 3vw;
}

.menu-caption p,
.menu-caption button {
  font-size: 1.1vw;
}

.menu-caption button img {
  width: 1.3vw;
}

@media screen and (max-width: 768px) {
  .menu-caption {
    display: none !important;
  }

  .menu-links .link span {
    font-size: 3vw;
  }

  .menu-links .link h1 {
    font-size: 8vw;
  }

  .close-btn img {
    width: 10vw;
  }

  #menubar .watermark {
    top: 35vh;
    left: -65vw;
    color: #e5e5e525;
    font-size: 30vw;
  }
}

@media screen and (max-width: 375px) {
  .menu-links .link span {
    font-size: 5vw;
  }

  .menu-links {
    padding: 12vh 0 0 4vw;
  }

  .menu-links .link h1 {
    font-size: 12vw;
  }

  .close-btn img {
    width: 13vw;
  }

  #menubar .watermark {
    top: 35vh;
    left: -105vw;
    color: #e5e5e525;
    font-size: 48vw;
  }
}
</style>
