<template>
  <div class='navbar w-100'>
    <div class='d-flex justify-content-between w-100'>
      <div class='logo-brand'>
        <router-link to="/">
          <img src='@/assets/img/datafirst-logo.svg' cursor-class='menu-hover' alt=''/>
        </router-link>
      </div>

      <div class='' id='menuToggle' @click='showMenuBar'>
        <svg
          cursor-class='menu-hover'
          viewBox='0 0 48 48'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M8 26C9.10457 26 10 25.1046 10 24C10 22.8954 9.10457 22 8 22C6.89543 22 6 22.8954 6 24C6 25.1046 6.89543 26 8 26Z'
            fill=''
          />
          <path
            d='M40.12 22H15.88C14.8417 22 14 22.8417 14 23.88V24.12C14 25.1583 14.8417 26 15.88 26H40.12C41.1583 26 42 25.1583 42 24.12V23.88C42 22.8417 41.1583 22 40.12 22Z'
            fill=''
          />
          <path
            d='M40.12 32H7.88C6.8417 32 6 32.8417 6 33.88V34.12C6 35.1583 6.8417 36 7.88 36H40.12C41.1583 36 42 35.1583 42 34.12V33.88C42 32.8417 41.1583 32 40.12 32Z'
            fill=''
          />
          <path
            d='M40.12 12H7.88C6.8417 12 6 12.8417 6 13.88V14.12C6 15.1583 6.8417 16 7.88 16H40.12C41.1583 16 42 15.1583 42 14.12V13.88C42 12.8417 41.1583 12 40.12 12Z'
            fill=''
          />
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
import gsap from 'gsap'

export default {
  methods: {
    showMenuBar() {
      gsap.to('.menubar-animate', {yPercent: 200, ease: 'none', duration: 0.4, stagger: 0.2})
      gsap.to('.menubar-animate', {yPercent: 200, ease: 'none', duration: 0.4, stagger: 0.2})
      gsap.to('#menubar', {yPercent: 100, ease: 'none', duration: 0.4})

      gsap.from('.link', {xPercent: -20, ease: 'power2.Out', delay: '0.7', opacity: 0, duration: 0.5, stagger: 0.2})
      gsap.from('#quote', {yPercent: 60, ease: 'power2.Out', duration: 1, delay: 2, opacity: 0, stagger: 0.1})
      gsap.from('.watermark', {xPercent: -100, ease: 'power2.Out', duration: 3, delay: 1, opacity: 1, stagger: 0.1})
    }
  }
}
</script>

<style scoped>
.navbar {
  /* padding: 5vw; */
  position: fixed;
  z-index: 800;
  padding: 3vw 2.5vw;
   will-change: transform;
  mix-blend-mode: difference;
}

.logo-brand img {
  width: 11vw;
}

#menuToggle svg {
  width: 3vw;
  fill: rgb(255, 255, 255);
  
}

@media screen and (max-width: 1025px) {
  .navbar {
    /* padding: 5vw; */
    position: fixed;
    z-index: 2000;
    padding: 6vw 2.5vw;
  }

  .logo-brand img {
    width: 35vw;
  }

  #menuToggle svg {
    width: 13vw;
    fill: #fff;
  }
}
</style>
