<template>
  <div>
    <img src="@/assets/img/datafirst-logo.svg" alt="" class="preloader-image blink-2"/>
  </div>
</template>

<script>
export default {
  name: "Preloader"
}
</script>

<style scoped>
.preloader-image {
  width: 30rem;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .preloader-image {
    width: 20rem;
  }
}

.blink-2 {
  -webkit-animation: blink-2 2s infinite both;
  animation: blink-2 2s infinite both;
}

@-webkit-keyframes blink-2 {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes blink-2 {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}


</style>
