<template>
  <div class="icons-container">
    <div class="" v-if="variant === 'dark'"
         :class="`${mobile ? 'social-icons d-flex justify-content-between': 'icons'}`">
      <a href="mailto:hello@datafirst.com.ng" target="_blank" rel="noreferrer">
        <img src="@/assets/img/mail.svg" alt="" class="mr-3" cursor-class='menulinks-hover'>
      </a>
      <a href="https://twitter.com/Datafirst_ng" target="_blank" rel="noreferrer">
        <img src="@/assets/img/twitter.svg" alt="" class="mr-3" cursor-class='menulinks-hover'>
      </a>
      <a href="https://www.instagram.com/datafirst_ng/" target="_blank" rel="noreferrer">
        <img src="@/assets/img/instagram.svg" alt="" class="mr-3" cursor-class='menulinks-hover'>
      </a>
      <a href="https://web.facebook.com/datafirsttech" target="_blank" rel="noreferrer" >
        <img src="@/assets/img/facebook.svg" alt="" cursor-class='menulinks-hover'>
      </a>
    </div>
    <div class="" v-if="variant === 'light'"
         :class="`${mobile ? 'social-icons d-flex justify-content-between': 'icons'}`">
      <a href="mailto:hello@datafirst.com.ng" target="_blank" rel="noreferrer" >
        <img src="@/assets/img/mail-light.svg" alt="" class="mr-3" cursor-class='menulinks-hover'>
      </a>
      <a href="https://twitter.com/Datafirst_ng" target="_blank" rel="noreferrer">
        <img src="@/assets/img/twitter-light.svg" alt="" class="mr-3" cursor-class='menulinks-hover'>
      </a>
      <a href="https://www.instagram.com/datafirst_ng/" target="_blank" rel="noreferrer">
        <img src="@/assets/img/instagram-light.svg" alt="" class="mr-3" cursor-class='menulinks-hover'>
      </a>
      <a href="https://web.facebook.com/datafirsttech" target="_blank" rel="noreferrer" >
        <img src="@/assets/img/facebook-light.svg" alt="" cursor-class='menulinks-hover'>
      </a>
    </div>
  </div>
</template>

<script>
import { CursorHoverFunction } from '../mixins/interactions/cursorHoverEffects'

export default {
  name: "SocialIcons",
  mixins: [CursorHoverFunction],
  props: {
    dark: {
      type: Boolean,
      default: true
    },
    light: {
      type: Boolean,
      default: false
    },
    mobile: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      variant: 'dark'
    }
  },
  mounted() {
    if (this.light) {
      this.variant = 'light'
    }
  }
}
</script>

<style scoped>
  .icons-container {
    margin-right: 3.6vw;
  }

  @media screen and (max-width: 768px) {
    .icons-container {
    margin-right: 0;
    padding: 0 6vw !important;
  }
  }
</style>
