<template>
  <div class="layout">
    <!-- ommited -->
    <SocialChat
      icon
      cursor-class='menulinks-hover'
      class="whatsapp-chat"
      :attendants="attendants"
    >
      <p slot="header">Click one of our representatives below to chat on WhatsApp.</p>
      <template v-slot:button>
        <img
          src="https://raw.githubusercontent.com/ktquez/vue-social-chat/master/src/icons/whatsapp.svg"
          alt="icon whatsapp"
          aria-hidden="true"
        >
      </template>
      <small slot="footer">Opening hours: 8am to 6pm</small>
    </SocialChat>
  </div>
</template>

<script>
import { SocialChat } from 'vue-social-chat'
import { CursorHoverFunction } from '../mixins/interactions/cursorHoverEffects'
export default {
  name: 'WhatsAppPage',
  mixins: [CursorHoverFunction],
  components: {
    SocialChat
  },

  data: () => ({
    attendants: [
      {
        app: 'whatsapp',
        label: 'Admin',
        name: 'Sam',
        number: '+2348136018432',
        avatar: {
          src:   'https://www.flaticon.com/svg/vstatic/svg/4341/4341949.svg?token=exp=1618561325~hmac=35375b67a728b0b65272c259ba8ec7c3',
          alt: 'Sam'
        }
      },
      // ...
    ]
  })
}
</script>

<style>
.whatsapp-chat {
  --whatsapp: #46c056;
  --vsc-bg-header: var(--whatsapp);
  --vsc-bg-button: var(--whatsapp);
  --vsc-outline-color: #000
}
</style>
