@media screen and (min-width: 1025px) {
    .v-container {
      width: 600%;
      height: 100%;
      display: flex;
      flex-wrap: nowrap;
      z-index: 900 !important;
      position: relative;
      z-index: 200;
    }
  
    .panel {
      width: 100%;
      height: 100vh;
      display: flex;
      font-weight: 600;
      font-size: 1.5em;
      z-index: 2;
      position: relative;
      box-sizing: border-box;
    }
    .panel.align-top {
      align-items: flex-start;
    }
  
    .panel.description {
      width: 85% !important;
      padding-bottom: 60px;
    }
  
    .close-btns img {
      width: 3.5vw;
      position: fixed;
      right: 1.5vw;
      top: 1.5vw;
      z-index: 2100;
    }
  
    .projects-bg-imgs .projects-name {
      position: absolute;
      /* right: -14.6vw; */
      /* left: 24vw; */
      z-index: 6;
      font-size: 7.2vw;
      bottom: 150px;
    }

    .projects-bg-imgs  .pn1 {
      left: 24vw;
    }

    .projects-bg-imgs  .pn2{
      left: 17.5vw ;
    }

    .projects-bg-imgs  .pn3{
      left: 21vw ;
    }

    .projects-bg-imgs  .pn4{
      left: 21vw;
    }
  
    .projects-bg-imgs .projects-name span {
      color: transparent;
      background-size: cover;
      background-image: url("../../../../../../../assets/img/banner-img.jpeg");
      background-clip: text;
      -webkit-background-clip: text;
    }
  
    .projects-bg-imgs {
      position: relative;
    }
  
    .projects-bg-imgs img {
      width: 40vw;
      height: 100vh;
      object-fit: cover;
    }
  
    .project-description .caption {
      width: 78%;
      padding-left: 90px;
    }
  
    .project-description .caption p {
      font-size: 1.4vw;
      line-height: 1.6;
    }
  
    .project-description .caption button {
      font-weight: bolder;
      font-size: 1.1vw;
    }
  
    .project-description .caption img {
      width: 1.3vw;
    }
  
    .desktop-views img {
      width: 72vw;
      margin-top: 30px;
    }
  
    .panel-bg {
        width: 100vw;
        height: 100vh;
        background: #D3A600;
        padding-left: 10vw;
        position: relative;
    }
  
    .panel-bg p {
        font-size: 1.5vw;
        padding-right: 6vw;
        text-align: justify;
    }
  
    .panel-bg  img {
        width: 25vw;
    }
  
     .panel-watermark {
      position: absolute ;
      bottom: -7.5vw;
      font-size: 16vw;
      font-weight: bolder;
      font-family: 'Poppins', sans-serif;
  }
  
    .panel-bg .panel-watermark {
        color: #DBB426;
    }
  
    .project-video {
        background-color: #E40442;
        width: 65vw;
        height: 70vh;
    }

    .project-video img {
      width: 7.5vw;
    }
  
    .project-writeup  {
        margin-left: 10vw;
    }
  
    .project-writeup p{
        width: 67vw;
        line-height: 1.7;
        font-size: 1.2vw;
        /* font-weight: 12px; */
    }
  
    .writeup-panel .panel-watermark {
      color: #1E1E1E;
      padding-left: 2vw;
    }
  
    .last-panel {
      background-color: #2D2D2D;
      overflow: hidden;
    }

    .last-panel .dark-clay {
      padding-left: 4vw;
    }
  
    .last-panel img {
        width: 20vw;
    }
  
    .last-panel .panel-watermark{
        color: #373737;
    }
  
    .footer {
      position: fixed;
      width: 100vw;
      height: 60vh;
      bottom: 0;
      background: #fff;
      z-index: 0 !important;
      }
  
      .footer h1{
          font-size: 5.5vw;
          color: #E40442;
          font-family: 'Libre Baskerville', serif;
      }

      .footer h1:hover {
        color: #0440e4;
        cursor: pointer;
        transition: .25s ease-in-out;
      }
  
      .footer hr {
          margin: 0 !important;
      }
  
      .next-page {
          height: 80%;
      }
  
      .footer  .social {
          height: 20%;
      }
  
      .footer-logo {
        width: 10vw;
    }

    .footer  .social .icons img {
        width: 4vw;
    }
  }
  