
@media screen and (max-width: 1025px) {
.projects-modals {
    position: relative;
    z-index: 2000 !important;
    background-color: #fff;
}

.projects-modals .header  {
    position: fixed;
    padding: 7vw 5vw;
    z-index: 5;
}

.projects-modals .header .logo img {
    width: 34vw;
}

.projects-modals .header .close-btn img {
    width: 12vw;
}

.project-data  .projects-img h2 {
    font-size: 15vw;
    padding-left: 4vw;
    margin-top: -10vw;
}

.project-data  .projects-img img {
    height: 120vw;
    width: 100vw;
    object-fit: cover;
}

 .project-description .caption {
    padding: 0 3vw ;
  }

  .project-description .caption p {
    font-size: 5vw;
    line-height: 1.6;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }

  .project-description .caption button {
    font-weight: 500;
    font-size: 4.5vw;
    font-family: "Poppins", sans-serif;
  }

  .project-description .caption img {
    width: 6vw;
  }

  .desktop-container {
      overflow-x: hidden;
      padding: 30vw 0;
  }

  .desktop-container .desktop-view img {
    width: 190vw;
  }

  .mobile-view .mobile-mockup {
      background-color: #D3A600;
      position: relative;
      padding: 20vw 0 10vw;
      overflow: hidden;
  }

  .mobile-view .mobile-mockup  .panel-watermark {
      position: absolute;
      bottom: -15vw;
      font-size: 25vw;
      color: #DBB426;
      left: 0;
      font-weight: bolder;
      font-family: 'Poppins', sans-serif;
  }

  .mobile-view .mobile-mockup img {
      width: 70vw;
      margin-left: 15vw;
  }

  .mobile-view p {
    font-size: 5vw;
    line-height: 1.6;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 20vw 3vw;
  }

  .project-video {
    background-color: #E40442;
    width: 100vw;
    height: 30vh;
  }

  .project-video img {
      width: 30vw;
  }

  .credit {
      color: #fff;
      padding: 10vw 3vw 15vw;
      margin-top: 20vw;
      position: relative;
      overflow: hidden;
  }

  .credit p {
    font-size: 5vw;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }

  .credit h1 {
    position: absolute;
    bottom: -12vw;
    font-size: 25vw;
    color: #1E1E1E;
    left: 0;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
  }

  .clay-mockup {
      background-color: #2D2D2D;
      padding: 25vw 0 20vw;
      position: relative;
      overflow: hidden;
  }

  .clay-mockup img {
    width: 70vw;
    margin-left: 14vw;
  }

  .clay-mockup h1 {
    position: absolute;
    bottom: -17vw;
    font-size: 25vw;
    color: #ffffff;
    left: 0;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
  }


.footer {
    background: rgb(255, 255, 255);
    padding-bottom: 14vw;
}

.footer .next-page {
    height: 60vw;
    color: rgb(250, 0, 0);
}

.footer .next-page h2 {
    font-size: 12vw;
}

.footer .social-icons {
    width: 75vw;
    margin: 0 auto;
    padding-bottom: 25vw;
}

.footer .social-icons img {
    width: 14vw;
}

}