<template>
  <div>
    <div class="v-container" id="container2">
      <div class="panel lignt last-panel">
        <div class=" d-flex ">
          <div class="logo-brand d-block">
            <h5 class="text-light">Datafirst Technologies</h5>
            <div class="d-flex justify-content-center align-items-center text-light h-100">
              <div class="contact-caption">
                <div class="slide">
                  <h2>
                    Talk To Us
                  </h2>
                </div>
                <p>We'd love to build something amazing together</p>
              </div>

              <div class="text-light contact-info">
                <div class="email">
                    <small>email:</small>
                    <p>hello@datafirst.com.ng</p>
                </div>
                <div class="location">
                    <small>location:</small>
                    <p class="address">2, Tinuola close, Animashaun Bus Stop, Akowonjo ,Egbeda Road, Lagos</p>
                </div>
              </div>
            </div>
          </div>
          <div class="working-hours">
            <div class="text-dark d-flex align-items-center h-100">
                <!-- <div class="">
                    <div class="text-dark">
                        <small>Working hours </small>
                    </div>
                    <ul>
                        <li>Monday: 8:00 - 17:0</li>
                        <li>Tuesday: 8:00 - 17:0</li>
                        <li>Wednesday: 8:00 - 17:00 </li>
                        <li>Thursday: 8:00 - 17:00 </li>
                        <li>Friday: 8:00 - 16:00 </li>
                    </ul>
                </div> -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.365644558144!2d3.3019818149416125!3d6.601401024083862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b91af739f6ed7%3A0x2c8a1710d6125543!2sPertinence%20Group!5e0!3m2!1sen!2sng!4v1618338880530!5m2!1sen!2sng" width="600" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>

      <!-- <section class="panel green">
        FOUR
      </section> -->
    <div class="footer" id="footer">
        <div class="d-flex justify-content-center align-items-center next-page">
          <h1>Thank you</h1>
        </div>
        <hr />
        <div
          class="d-flex  align-items-center justify-content-between social px-5"
        >
          <router-link to="/">
            <img src="@/assets/img/datafirst-logo.svg" class="footer-logo" alt="">
          </router-link>

          <social-icons light/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { CursorHoverFunction } from '@/mixins/interactions/cursorHoverEffects'
import { ContactPageFunction } from '@/mixins/ScrollAnimation/contact'
export default {
  mixins: [ContactPageFunction,CursorHoverFunction],
  components: {
    'social-icons': () => (import('@/components/SocialIcons'))
  },
}
</script>

<style scoped>
@import '../assets/css/desktop.css'
</style>
