<template>
  <div class="contact-page">
    <div class="contact-intro d-flex align-items-end">
      <div class="">
        <div class="header-text">
          <h2>Talk to Us</h2>
          <p>We'd love to build something amazing together</p>
        </div>
        <div class="contacts">
          <div class="email">
            <p class="mb-0">email:</p>
            <h4>hello@datafirst.com.ng</h4>
          </div>

          <div class="address">
            <p class="mb-0">location:</p>
            <h4>2, Tinuola close, Animashaun Bus Stop, Akowonjo ,Egbeda Road, Lagos</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="working-hours d-flex align-items-center w-100 ">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.365644558144!2d3.3019818149416125!3d6.601401024083862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b91af739f6ed7%3A0x2c8a1710d6125543!2sPertinence%20Group!5e0!3m2!1sen!2sng!4v1618338880530!5m2!1sen!2sng" width="600" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="footer">
      <div class="next-page d-flex align-items-center justify-content-center">


        <router-link to="/blog">
          <h2>Blog</h2>
        </router-link>
      </div>

      <social-icons light mobile/>

      <div class="footer-logo d-flex align-items-center justify-content-center">
        <router-link to="/">
          <img src="@/assets/img/datafirst-logo.svg" alt="footer-logo">
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    'social-icons': () => (import('@/components/SocialIcons'))
  },
}
</script>

<style scoped>
@import '../assets/css/mobile.css'
</style>
