<template>
    <div>
        <!-- <div class="desktop-view"> -->
        <Realvest  class="desktop-view"/>
      <!-- </div> -->
      <!-- <div class="mobile-view"> -->
        <RealvestMobile class="mobile-view"></RealvestMobile>
      <!-- </div> -->
      
    </div>
</template>

<script>
import Realvest from '../Realvest/Realvest'
import RealvestMobile from '../Realvest/Realvest-mobile'
export default {
  components: {
    Realvest,
    RealvestMobile
  }
}
</script>

<style scoped>
@media screen and (min-width: 1026px) {
  .mobile-view {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .desktop-view {
    display: none !important;
  }
}
</style>
