<template>
  <div class="modal-container">
    <!-- <div class="swipper"></div> -->
    <div class=" close-btns">
      <router-link to="/projects">
        <img src="@/assets/img/close-icon.svg" cursor-class="menu-hover" alt="">
      </router-link>
    </div>
    <div class="v-container">
      <div class=" panel lignt">
        <div class="d-flex">
            <div class="projects-bg-imgs">
                <h2 v-if="projectType == 'realvest'" class="projects-name pn1 text-light ">Real<span>vest</span> </h2>
                <h2 v-if="projectType == 'cloudnine'" class="projects-name pn2 text-light ">Cloud<span>nine</span> </h2>
                <h2 v-if="projectType == 'agbeloba'" class="projects-name pn3 text-light ">Agbe<span>loba</span> </h2>
                <h2 v-if="projectType == 'homify'" class="projects-name pn4 text-light ">Hom<span>ify</span> </h2>
                <img src="@/assets/img/banner-img.jpeg" alt="">
            </div>

          <div class="project-description d-flex align-items-center h-100">
            <div class=" caption">
              <p class="pb-1">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, odio rerum? Exercitationem quia, tempore
                voluptatibus aliquam eius saepe explicabo accusantium illo, cupiditate tenetur quibusdam quos natus
                fugiat, cum labore debitis?
              </p>
              <b-button variant='transparent' class="p-0">View Website <img src="@/assets/img/right-arrow.svg"
                                                                            class="ml-2" alt=""></b-button>
            </div>
          </div>
        </div>
      </div>
      <section class="panel lignt d-flex align-items-center justify-content-center ">
        <div class="desktop-view">
          <img src="@/assets/img/mackbook.svg" alt="">
        </div>
      </section>
      <section class="panel lignt">
        <div class="panel-bg  d-flex align-items-center ">
          <img src="@/assets/img/light-phone-mockup.svg" class="mr-4" alt="">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis beatae aperiam ea animi sed? Ratione
            quaerat ut, voluptate impedit deleniti aperiam vitae suscipit quae mollitia. Ipsum libero unde enim
            inventore!
          </p>
          <h1 class="panel-watermark">CREDIT</h1>
        </div>

      </section>
      <section class="panel lignt align-items-center justify-content-center">
        <div class="project-video d-flex align-items-center justify-content-center ">
          <img src="@/assets/img/play-icon.svg" alt="">
        </div>
      </section>
      <section class="panel dark writeup-panel">
        <div class="project-writeup  d-flex align-items-center h-100">
          <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dignissimos
            mollitia perferendis voluptas, ex numquam excepturi ullam voluptatibus iure eos quasi aspernatur iusto, amet
            quis exercitationem cumque corporis alias distinctio.Eum dignissimos commodi placeat rerum et aliquid quidem
            doloribus, adipisci sint, atque officia eaque voluptatum obcaecati eveniet? Ipsa sint voluptates soluta
            ullam! Reiciendis voluptatem aliquid magnam voluptas ut quisquam! Esse! </p>
        </div>

        <h1 class="panel-watermark">CREDIT</h1>
      </section>
      <section class="panel last-panel">
        <div class="d-flex pl-5">
          <img src="@/assets/img/dark-phone-mockup.svg" alt="">
          <img src="@/assets/img/dark-phone-mockup.svg" alt="">
        </div>
        <h1 class="panel-watermark">CREDIT</h1>
      </section>

      <div class="footer">
        <div class="d-flex justify-content-center align-items-center next-page">
            <h1 @click="nextProject" cursor-class='menu-hover'>Next</h1>
        </div>
        <hr>
        <div class="d-flex  align-items-center justify-content-between social px-5">
          <router-link to="/">
            <img src="@/assets/img/datafirst-logo.svg" class="footer-logo" alt="">
          </router-link>

          <social-icons/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { CursorHoverFunction } from '@/mixins/interactions/cursorHoverEffects'
import { myHelperFunction } from '@/mixins/ScrollAnimation/modals'

export default {
  mixins: [myHelperFunction, CursorHoverFunction],
  components: {
    "social-icons": () => import("@/components/SocialIcons"),
  },
  data () {
    return {
      projectType: ''
    }
  },

  components: {
    'social-icons': () => (import('@/components/SocialIcons'))
  },

  mounted() {
    this.projectType = this.$route.params.project_id
  },
  methods:{
    nextProject(){
      let projects = ['realvest','agbeloba', 'homify', 'cloudnine'];
      let findIdx = projects.indexOf(this.projectType);

      if(findIdx < projects.length - 1){
        this.$router.push({path: projects[findIdx + 1]})
      }else{
        this.$router.push({path: projects[0]})
      }
    }
  }
}

</script>
<style scoped>
@import './assets/css/desktop.css'
</style>
