<template>
    <div class="projects-modals">
        <div class="header w-100 d-flex justify-content-between align-items-center">
            <div class="logo">
                <img src="@/assets/img/datafirst-logo.svg" alt="">
            </div>
            <div class=" close-btn">
                <router-link to="/projects">
                    <img src="@/assets/img/close-icon.svg" alt="">
                </router-link>
                
            </div>
        </div>
        <div class="project-data">
            <div class="projects-img">
                <img src="@/assets/img/banner-img.jpeg" alt="">
                <h2 v-if="projectType == 'realvest'" class=" ">Realvest</h2>
                 <h2 v-if="projectType == 'homify'" class=" ">Homify</h2>
                  <h2 v-if="projectType == 'agbeloba'" class=" ">Agbeloba</h2>
                <h2></h2>
            </div>
        </div>
        <div class="project-description d-flex align-items-center">
            <div class=" caption">
                <p class="pb-1">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, odio rerum? Exercitationem quia, tempore voluptatibus aliquam eius saepe explicabo accusantium illo, cupiditate tenetur quibusdam quos natus fugiat, cum labore debitis?
                </p>
                <b-button variant='transparent' class="p-0" >View Website <img src="@/assets/img/right-arrow.svg" class="ml-2" alt=""></b-button>
            </div>
        </div>
        <div class="desktop-container">
            <div class="desktop-view">
                <img src="@/assets/img/mackbook.svg" alt="">
            </div>
        </div>
        <div class=" mobile-view">
            <div class="mobile-mockup  d-flex align-items-center justify-content-center ">
                <img src="@/assets/img/light-mobile-mockup.svg" alt="">
                <h1 class="panel-watermark">CREDIT</h1>
            </div> 
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas vel eaque a dignissimos dolore, totam perspiciatis veniam sapiente reprehenderit cumque. Deserunt, minima esse sit ut vero et provident magni fuga.
            </p>
        </div>  

    <div class="project-video d-flex align-items-center justify-content-center ">
      <img src="@/assets/img/play-icon.svg" alt="">
    </div>

    <div class="dark credit">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis saepe accusantium minus repellat iure
        suscipit voluptatum labore officiis ut consequatur ea eius natus reprehenderit, fuga facilis quae officia sunt
        incidunt!
      </p>
      <h1>CREDIT</h1>
    </div>

    <div class="clay-mockup d-flex justify-content-center">
      <img src="@/assets/img/clay-phone-mockup.svg" alt="">
      <h1>CREDIT</h1>
    </div>
    <div class="footer">
      <div class="next-page d-flex align-items-center justify-content-center">
        <h2 @click="nextProject">Next</h2>
      </div>
      <social-icons mobile/>
    </div>
  </div>

</template>

<script>
export default {
     data () {
    return {
      projectType: ''
    }
  },

  mounted() {
    this.projectType = this.$route.params.project_id
  },
  methods:{
    nextProject(){
      let projects = ['realvest','agbeloba', 'homify'];
      let findIdx = projects.indexOf(this.projectType);

      if(findIdx < projects.length - 1){
        this.$router.push({path: projects[findIdx + 1]})
      }else{
        this.$router.push({path: projects[0]})
      }
    }
  },
  components: {
    'social-icons': () => (import('@/components/SocialIcons'))
  },
}
</script>

<style scoped>
@import './assets/css/mobile.css'
</style>
