<template>
  <div id="app" class="nocursor" v-if="!loading">
    <Navbar/>
    <MenuBar @closeMenu="reRedenrCom" :key="reRender"/>
    <div id="cursor">
      <div class="cursor__circle"></div>
      <div class="cursor__circle2"></div>
    </div>
    <transition name="fade" mode="out-in">
      <router-view :key="$route.path"/>
    </transition>

    <WhatsAPpCgat/>
  </div>
</template>

<script>
import Navbar from './components/Navbar'
import MenuBar from './components/MenuBar'
import Preloader from '@/components/Preloader'
import WhatsAPpCgat from '@/components/whatsapp-chat'

export default {
  name: 'App',
  data() {
    return {
      reRender: 1,
      loading: true
    }
  },
  components: {
    Navbar,
    MenuBar,
    WhatsAPpCgat
  },

  created() {
    this.$preloaders.open({component: Preloader})
  },
  methods: {
    reRedenrCom() {
      this.reRender = !this.reRender
    },
  },
  mounted() {
    setTimeout(() => {
      this.loading = false;
      this.$preloaders.close();
    }, 1000)

  },
  // updated() {
  //   this.$preloaders.open({component: Preloader})
  // }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#cursor {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 6000 !important;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 6vw;
    height: 6vw;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    border: solid 0.2vw #ffffff;
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .cursor__circle2 {
    width: 64px;
    height: 64px;
    margin-top: -55%;
    margin-left: -6%;
    border-radius: 50%;
    background: #999899;
    width: 10px;
    height: 10px;
  }

  #cursor.menulinks-hover .cursor__circle {
    width: 5vw !important;
    height: 5vw !important;
    /* background-color: #b8b8b8;
    border-color: #c7c7c7; */
    background-color: #ffffff;
    border-color: #ffffff;
  }

  /* #cursor.menulinks-hover::after{
   content: '';
   position: absolute;
   left: -50%;
   top: -50%;
   width: 100%;
   height: 100%;
 } */
  #cursor.menu-hover .cursor__circle {
    width: 50px !important;
    height: 50px !important;
    background-color: #ffffff;
    border-color: #ffffff;
  }
}
</style>
