<template>
  <div >
      <div class="desktop-view">
        <LandingPage />
      </div>
      <div class="mobile-view">
        <LandingPageMobile />
      </div>
  </div>
</template>
<script>
import LandingPage from './components/LandingPage'
import LandingPageMobile from './components/LandingPage-Mobile'
export default {
  data () {
    return {}
  },
  components: {
    LandingPage,
    LandingPageMobile
  }
}
</script>

<style scoped>
@media screen and (min-width: 1026px) {
  .mobile-view {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .desktop-view {
    display: none !important;
  }
}
</style>
